@model GroupCapstone.Models.GroupUsersViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>ChatGroups</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="MyGroups">
    <thead>
        <tr class="table-primary">
            <th>
                My Groups
            </th>
            <th>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#CreateGroup">Add Group</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.UserGroups.Join(Model.Groups, i => i.GroupId, g => g.ID, (i, g) => new { i.UserName, g.ID, g.GroupName }).Where(i => i.UserName == Model.UserName).Count() > 0)
        {
            @foreach (var item in Model.UserGroups.Join(Model.Groups, i => i.GroupId, g => g.ID, (i, g) => new { i.UserName, g.ID, g.GroupName }).Where(i => i.UserName == Model.UserName))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.ID)*@
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <h4>Please Create a GroupChat or Join an Exisiting GroupChat Below to Continue</h4>
                </td>
            </tr>
        }

    </tbody>
</table>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                Find a Group to Join
            </th>
            <th></th>
            </trclass="table-primary">
    </thead>
    <tbody>
        @foreach (var item in Model.Groups)
        {
            <tr class="table-info">
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ID)*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
            @foreach (var item1 in Model.UserGroups.Where(i => i.GroupId == item.ID))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item1.UserName)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item1.ID)*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- New Group Modal -->
<div class="modal fade" id="CreateGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="CreateNewGroupForm">
                    <div class="form-group">
                        <label for="GroupName">Group Name</label>
                        <input type="text" class="form-control" name="GroupName" id="GroupName" aria-describedby="emailHelp" placeholder="Group Name">
                    </div>
                    <input type="hidden" value="@Model.UserName" id="CurrentUserName" />
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="CreateGroupButton">Create Group</button>
            </div>
        </div>
    </div>
</div>

