@model GroupCapstone.Models.EventUserGroupViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Upcoming Events!</h1>


<h4>Events I've RSVP'd To</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Events
            </th>
            <th>
                Start
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events.Join(Model.UserGroups, e => e.GroupId, ug => ug.GroupId, (e, ug) => new { e, ug }).Join(Model.EventParticipants, e2 => e2.e.Id, ep => ep.EventId, (e2, ep) => new { e2, ep }).Join(Model.Participants, ep2 => ep2.ep.ParticipantId, p => p.Id, (ep2, p) => new { ep2, p }).Where(a => a.p.IdentityUserId == Model.UserId).Select(e => new { Id = e.ep2.e2.e.Id, Name = e.ep2.e2.e.Name, StartDate = e.ep2.e2.e.StartDate, GroupName = e.ep2.e2.e.Group.GroupName, Latitude = e.ep2.e2.e.Latitude, Longitude = e.ep2.e2.e.Longitude, UserName = e.ep2.e2.ug.UserName }).Where(c=>c.UserName == Model.UserName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Id">View Event Details</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".mapsModal" data-lat="@item.Latitude" data-lng="@item.Longitude">View Map</button>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="LeaveEvent" asp-route-id="@item.Id">De-Commit from Event</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h4>All Events for My Groups</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Events
            </th>
            <th>
                Start
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events.Join(Model.UserGroups, u => u.GroupId, ug => ug.GroupId, (u, ug) => new { u.Id, u.Description, ug.UserName, u.Name, u.StartDate, u.EndDate, ug.GroupId, u.Latitude, u.Longitude }).Where(u => u.UserName == Model.UserName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Id">View Event Details</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".mapsModal" data-lat="@item.Latitude" data-lng="@item.Longitude">View Map</button>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="AttendEvent" asp-route-id="@item.Id">Count Me In!</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@foreach (var item in Model.Events.Join(Model.UserGroups, u => u.GroupId, ug => ug.GroupId, (u, ug) => new { u.Id, u.Description, ug.UserName, u.Name, u.StartDate, u.EndDate, ug.GroupId, u.Address1, u.City, u.State }).Where(u => u.UserName == Model.UserName).Select(s => s))
{
    <!--Load modal for each event-->
    <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">@item.Name</h3>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>Start:</td>
                            <td>@item.StartDate</td>
                        </tr>
                        <tr>
                            <td>End:</td>
                            <td>@item.EndDate</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>@item.Address1<br />@item.City, @item.State</td>
                        </tr>
                        <tr>
                            <td>Attendees:</td>
                            @foreach (var person in Model.EventParticipants.Where(ep => ep.EventId == item.Id).Join(Model.Participants, ep => ep.ParticipantId, p => p.Id, (ep, p) => new { p.FirstName, p.LastName }))
                            {
                                <td>@person.FirstName @person.LastName</td>
                            };

                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<!--Map modal-->
<div class="modal fade mapsModal" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Map</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal_body_map">
                        <div class="location-map" id="location-map">
                            <div style="width: 600px; height: 400px;" id="map_canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

